<h1>MENÚ cifrado</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoBasico">Cifrado Básico</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoEficiente">Cifrado CON SALT</a>
    </li>

</ul>