@model List<Coche>

    <h1>Coches AJAX PARTIAL</h1>
    
    
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>IMAGEN</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Coche car in Model)
        {
            <tr>
                <td>@car.IdCoche</td>
                <td>@car.Marca @car.Modelo</td>
                <td> <img src="@car.Imagen" alt="Alternate Text" style="width:100px;height:100px"/> </td>
            </tr>
        }

    </tbody>
</table>