<h1>LOGIN</h1>
<form  method="post">
    <label>Usuario</label>
    <input type="text" name="usuario" />
    <button>Iniciar sesión</button>
</form>
<h2 style="color:palevioletred">@ViewData["MENSAJE"]</h2>