<h2>MEMORIA CAHING</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Caching" asp-action="MemoriaDistribuida"> PÁGINA CACHING</a>
        <a asp-controller="Caching" asp-action="MemoriaPersonalizada">PÁGINA CAHCING PERSONALIZADO</a>
    </li>
</ul>

